﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/home/scripts")
@Styles.Render("~/home/styles")

<div class="container" ng-controller="homeController">
    <div class="row">
        <div class="col col-sm-4 col-md-offset-8">
            <h2>Register</h2>
            <form class="form-signin">
                <input type="text" class="form-control" placeholder="First Name" ng-model="profile.FirstName" required>
                <input type="text" class="form-control" placeholder="Middle Name" ng-model="profile.MiddleName" required>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="profile.LastName" required>
                <input type="text" class="form-control" placeholder="Email Address" ng-model="profile.EnterpriseId" required>
                <input type="password" class="form-control" placeholder="Password" ng-model="profile.EnterpriseToken" required />

                <button class="btn btn-success btn-block" ng-click="createProfile()" >Create Account</button>
            </form>
        </div>
    </div>
</div>