﻿body, html {
    height: 100%;
    background: url('../../../Images/race.png');
    background-repeat: no-repeat;
    background-size: 65% 100%;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text] {
    margin-bottom: 10px;
}