﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/dashboard/scripts")
@Styles.Render("~/dashboard/styles")

<div ng-controller="dashboardController" class="row">
    <div class="dashboard-profile-card col-lg-2">
        <img src="~/Images/avatar.png" alt="Avatar" class="dashboard-profile-img-card col-lg-9 col-lg-push-1 col-md-3 col-xs-push-2">

        <div class="col-md-12 text-center" style="margin-bottom:20px;">
            <h3>{{profile.FirstName}} {{profile.MiddleName}} {{profile.LastName}}</h3>
            <label style="font-size:12px;">{{profile.RoleName}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>List of Races</h2>
            <div ag-grid="raceGridOptions" id="race-grid" class="ag-theme-fresh" style="height: 500px;"></div>
        </div>
        <div class="col-sm-4">
            <h2>List of Horses</h2>
            <div ag-grid="racePerHorseGridOptions" id="race-per-horse-grid" style="height: 500px;"></div>
        </div>
    </div>
</div>