﻿body, html {
    height: 100%;
}

.dashboard-profile-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none!important;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.dashboard-profile-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dashboard-profile-img-card {
    height: 150px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}