﻿<!DOCTYPE html>
<html ng-app="amazingRaceApp" ng-controller="baseController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        var SERVICE_BASE_URL = '@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["Service-Base-Url"])'
        var BASE_URL = '@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["Base-Url"])'
    </script>

    @Scripts.Render("~/library/scripts")
    @Styles.Render("~/library/styles")

    @Scripts.Render("~/shared/scripts")

    <title>{{pageTitle}}</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:void(0)">Amazing Race</a>
                </div>

                <ul class="nav navbar-nav" ng-show="profile != null">
                    <li ng-class="{ active: isActiveMenu('dashboard') }">
                        <a href="javascript:void(0)" ng-click="menuItemClicked('dashboard')">Dashboard</a>
                    </li>
                </ul>
                <!-- Log In -->
                <form class="navbar-form navbar-right" ng-show="profile == null">
                    <!-- Email Address -->
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user-o fa-fw"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Email Address" required ng-model="profileParameter.EnterpriseId">
                    </div>

                    <!-- Password -->
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key fa-fw"></i>
                        </span>
                        <input type="password" id="passwordInput" class="form-control" placeholder="Password" required ng-model="profileParameter.EnterpriseToken" />
                    </div>

                    <!-- Log In -->
                    <div class="input-group">
                        <button class="btn btn-primary" ng-click="login()" ng-disabled="isLoggingIn">Log In</button>
                        <span ng-show="isLoggingIn">
                            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    @RenderBody()
</body>
</html>
